<%= flash[:message] if flash[:message] %>

<h2>All Teams</h2>

<%= form_tag("/search", method: "post") do %>
  <%= label_tag(:search, "Team Member:") %>
  <%= text_field_tag(:search_username, params[:search_username]) %>
  <%= submit_tag("Search") %>
<% end %><br>

<% @teams.each do |team| %>
    <button type="button" class="btn btn-default"><%= link_to team.team_name, team_path(team) %></button><br><br>
    <p><strong>Team Points: <%= team.team_points %></strong></p>
    <p><strong>Team Member(s): <% team.users.each do |user| %>
        <%= user.username %></strong></p>
    <% end %><br>
<% end %>