<%= flash[:message] if flash[:message] %>

<h1><%= @team.team_name %></h1>

<div class="container">
    <button type="button" class="btn btn-default"><%= link_to "Details about team members", team_users_path(@team) %></button>
    <%# <button type="button" class="btn btn-default"><%= link_to "Create new user for this team", new_team_user_path(@team) %></button>
</div>

<h2>Team Members</h2>
<% @team.users.each do |user| %>
    <ul>
        <li><%= user.username %></li>
    </ul>
<% end %>
