<h3>Prefilled information by Google Login, make changes as you wish.</h3><br>

<%= form_for @user do |f| %>
    <%= f.label :username, 'Username:' %>
    <%= f.text_field :username %><br><br>
    <%= f.label :team, 'Team:' %>
    <%= f.select :team_id, options_from_collection_for_select(Team.all, :id, :team_name) %>
    
    <%= f.submit 'Sign Up' %>
<% end %>