<h1>Sign Up</h1>

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |f| %>

    <%= f.label :username, 'Username:' %>
    <%= f.text_field :username %><br><br>

    <%= f.label :email, 'Email:' %>
    <%= f.text_field :email %><br><br>

    <%= f.label :password, 'Password:' %>
    <%= f.password_field :password %><br><br>

    <% if params[:team_id] && @team = Team.find_by_id(params[:team_id]) %>
        <%= @team.team_name %>
    <% else %>
        <%= f.label :team, 'Team:' %>
        <%= f.select :team_id, options_from_collection_for_select(Team.all, :id, :team_name), prompt: 'Please select a team' %>
    <% end %><br><br>

    <%= f.submit 'Sign Up' %>

<% end %>