<h2>Choose Your Daily Goals</h2>

<div>
    
    <% @goals.each do |goal| %>
        <%= form_for @usergoal do |f| %>
            <strong><p><%= link_to goal.category, goal_path(goal) %></p></strong>
            <p><%= f.label goal.description %></p>
            <%= f.hidden_field :goal_id, value: goal.id %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.submit "Add this to my User Goal" %>
        <% end %>
    <% end %>
</div>