<h2>Choose Your Daily Goals</h2>

<div>
    <%= form_for @usergoal do |f| %>
        <% @goals.each do |goal| %>
            <strong><p><%= goal.category %></p></strong>
            <p><%= goal.description %></p>
            <%= f.hidden_field :goal_id %>
            <%= f.hidden_field :user_id %>
            <%= f.submit "Add this to my User Goal" %>
        <% end %>
    <% end %>
</div>
