<h2>Choose Your Wellness Goals</h2>

<button type="button" class="btn btn-default"><%= link_to "View Last Updated Goals by Team Members", last_updated_goals_path %></button>

<% @goals.each do |goal| %>
    <%= form_for @usergoal do |f| %>
        <strong><h3><%= f.label goal.category %></h3></strong>
        <strong>Suggested activities:</strong>
        <p><%= f.label goal.description %></p>
        <%= f.hidden_field :goal_id, value: goal.id %>
        <%= f.hidden_field :user_id, value: current_user.id %> <!--separations of concerns: never call your database in your view-->
        <%= f.label :notes, 'What would you like to work on:' %>
        <%= f.text_field :notes %>
        <%= f.submit "Add to Profile" %>
    <% end %>
<% end %>
