<h2>Choose Your Daily Goals</h2>

<div>
    <%= form_for @usergoal do |f| %>
        <% @goals.each do |goal| %>
            <strong><p><%= f.label goal.category %></p></strong>
            <p><%= f.label goal.description %></p>
            <%= f.hidden_field :goal_id %>
            <%= f.hidden_field :user_id %>
        <% end %>
        <%= f.submit "Add this to my User Goal" %>
    <% end %>
</div>